*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #efefef;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: #b33232;
    color: #FFF;
}

header p{
    text-transform: uppercase;
    font-size: 1em;
}
header a {
    font-size: 2em;
    color: #FFF;
}
main {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .card {
    border: 2px solid #b33232;
    width: 40%;
    margin-bottom: 4%;
    background-color: rgb(255, 255, 255)
}

 .card .top-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px;
    font-size: 1.4em;
    flex-wrap: wrap;
    background-color: #b33232;
    color: #FFF;
 }
 .card .top-card .block-user-post{
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
 }
 .card .top-card .block-user-post .fa-user{
    margin-right: 20px;
 }
 .card .content-card {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    font-size: 1.6em;
 }
 .card .top-card p{
    font-size: 0.6em;
 }
 .card .bot-card{
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    padding: 30px;
    background-color: #ffffff;
    color: #b33232;
    border-top: #b33232;

 }
 .card .bot-card .btn-interaction{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-around;
    align-items: center;
    width: 25%;
 }
 .card .bot-card .btn-interaction .coin-like{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 
 .card .bot-card button {
    border: none;
    background-color: transparent;
    width: 80px;
 }
.card .bot-card .comment-users{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    font-size: 0.8em;
}
.card .bot-card .comment-users p {
    margin-right: 20px;
}
.card .bot-card .commentaire{
    display: none;
    padding: 20px;
    font-size: 0.8em;
    margin: 20px 0;
    transition: all 0.2s;
}
.card .bot-card .commentaire{
    display: none;
    color: #b33232;
}
.fa-comment{
    cursor: pointer;
}
.comment-user{
    display: flex;
    flex-direction: column;
}
.bot-card .commenter{
    display: none;
    font-size: 0.6em;
    color: #b33232;
    align-self: flex-end;
}