*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 20px;
    border-bottom: 4px solid #676767;
}
header h1{
    font-size: 1.8em;
    font-weight: bold;
}
header img {
    height: 100%;
    padding: 20px;
}

main {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .card {
    border: 2px solid #00698b;
    width: 35%;
    margin-bottom: 4%;
    background-color: #fff1f163;
}
.card hr {
    padding: 0;
    margin: 0;
    border: 1px solid #00698b;
}
 .card .top-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    font-size: 1.6em;
    flex-wrap: wrap;
 }
 .card .top-card .block-user-post{
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
 }
 .card .top-card .block-user-post .fa-user{
    margin-right: 20px;
 }
 .card .content-card {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    font-size: 1.6em;
 }
 .card .bot-card{
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    padding: 30px;
 }
 .card .bot-card .btn-interaction{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    justify-content: space-around;
    align-items: center;
 }
 .card .bot-card .btn-interaction .coin-like{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 
 .card .bot-card button {
    border: none;
    background-color: transparent;
    width: 80px;
 }
.card .bot-card .comment-users{
    display: flex;
    flex-direction: row;
    padding: 40px;
    font-size: 0.8em;
}
.card .bot-card .comment-users p {
    margin-right: 20px;
}
.card .bot-card .commentaire{
    display: none;
    padding: 20px;
    font-size: 0.8em;
    margin: 20px 0;
    transition: all 0.2s;
}
.card .bot-card .commentair.active{
    display: flex;
}
.fa-comment{
    cursor: pointer;
}
.comment-user{
    display: flex;
    flex-direction: row;
}
.bot-card .commenter{
    display: none;
    font-size: 0.6em;
}