@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #efefef;
}
header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    background-color: #b33232;
    color: #FFF;
    font-family: 'Bodoni Moda', serif;
}

header p{
    font-size: 2em;
    text-transform: uppercase;
}
header a {
    font-size: 1.6em;
    color: #FFF;
}
main {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.main-profil{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.card-profil {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 60vh;
    position: fixed;
    top: 10%;
    left: 5%;
    padding: 40px;
    color: #b33232;
    background-color: #FFF;
}
.card-profil img {
    border-radius: 50%;
    border: 2px solid #b33232;
    width: 120px;
    display: flex;
    align-self: center;
    margin-bottom: 40px;
}
.card-profil h3 {
    margin: 10px 0;
}
.card-profil .identity-profil {
    display: flex;
    flex-direction: row;
    font-style: italic;
}
.card-profil .identity-profil p {
    margin-right: 10px;
    font-weight: 200;
}
.main-profil .post-profil{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.main-profil .post-profil .card{
    width: 100%;
}
.main-profil .post-profil .card .post-date{
    background-color: #b33232;
    padding: 20px 40px;
    color: #FFF;
}
.main-profil .post-profil .card .post-content{
    padding:  40px;
}
.main-profil .post-profil .card .bot-card-post-profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  20px 40px;
    border-top: 1px solid #b33232;
    color: #b33232;
}
.main-profil .post-profil .card .bot-card-post-profil i{
    cursor: pointer;
    transition: all 0.2s;
}
.main-profil .post-profil .card .bot-card-post-profil i:hover{
    transform: scale(1.2);
}
main .new-post {
    width: 40%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2%;
}
main .new-post textarea{
    color: #b33232;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2%;
    border: none;
    border-radius: 5px;
}
main .new-post button{
    border-radius: 5px;
    padding: 12px 40px;
    border: none;
    font-size: 1.2em;
    color: #FFF;
    transition: all 0.3s;
    background-color: #b33232;
}
main .new-post button:hover{
    background-color: #b3323280;
}



main .card {
    width: 40%;
    margin-bottom: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

 .card .top-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px;
    font-size: 1.4em;
    flex-wrap: wrap;
    /* background-color: #b33232; */ 
    color: #b33232;
}

 .card .top-card .block-user-post{
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    font-family: 'Bodoni Moda', serif;

 }

 .card .top-card .block-user-post .fa-user{
    margin-right: 20px;
    border: 2px solid #b33232;
    border-radius: 50%;
    padding: 10px;
 }
 .card .content-card {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    font-size: 1.2em;
 }
 .card .top-card p{
    font-size: 0.6em;
 }
 .card .bot-card{
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    padding: 30px;
    background-color: #ffffff;
    color: #b33232;
    border-top: #b33232;

 }
 .card .bot-card .btn-interaction{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-around;
    align-items: center;
    width: 25%;
 }
 .card .bot-card .btn-interaction .coin-like{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 
 .card .bot-card .fa-heart {
    margin-left: 10px;
 }
.card .bot-card .comment-users{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    font-size: 0.8em;
}
.card .bot-card .comment-users p {
    margin-right: 20px;
}
.card .bot-card .commentaire{
    display: none;
    padding: 20px;
    font-size: 0.8em;
    margin: 20px 0;
    transition: all 0.2s;
}
.card .bot-card .commentaire{
    display: none;
    color: #b33232;
}
.fa-comment{
    cursor: pointer;
}
.comment-user{
    display: flex;
    flex-direction: column;
}
.bot-card .commenter{
    display: none;
    font-size: 0.6em;
    color: #b33232;
    align-self: flex-end;
}