<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="/images/icone-twitter-rouge.png" alt="logotwiplon">
        <h1 class="titre-page">
            Accueil
        </h1>
        <img src="/images/profil.png" alt="profil">
    </header>
    <main>
        <div class="card" th:each="post : ${LesPosts}">
            <div class="top-card">
                <p th:text="${post.user.username}"></p>
                <p th:text="'Il y  a ' + ${differenceEnJours} + ' jours.'"></p>
            </div>
            <hr>
            <div class="content-card">
                <p th:text="${post.content}"></p>
                <p th:text="${post.datecreation}"></p>
            </div>
            <hr>
            <div class="bot-card">
                <button id="btn-like" th:data-idpost='|${post.idpost}|'>❤️ </button>
                <!-- <div class="comment-users">
                    <p th:text="${post.user.username}"></p>
                    <p th:text="${post.comments.text}"></p>
                </div> -->
            </div>
        </div>
        </p>
    </main>
</body>
<script src="/script/script.js"></script>
</html>