<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
</head>

<body>
    <header>
        <a th:href="@{/}">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <p class="titre-page">
            Accueil
        </p>
        <a th:href="@{/Profil}">
            <i class="fa-solid fa-user"></i>
        </a> 
    </header>
    <main>
        <form action="/addPost" method="post">
            <input type="hidden" name="userId" value="19"> <!-- Remplacez 19 par l'ID de l'utilisateur actuel -->
            <textarea name="newPostContent" rows="4" cols="50"></textarea>
            <button type="submit">Publier le post</button>
        </form>
        <div class="card" th:each="post : ${LesPosts}">
            <div class="top-card">
                <div class="block-user-post">
                    <p><i class="fa-solid fa-user"></i></p>
                    <p th:text="${post.user.username}"></p>
                </div>
                <p>
                    Il y a 
                    <span th:if="${differencesMap.get(post.idpost).get('jours') > 0}">
                        [[${differencesMap.get(post.idpost).get('jours')}]] jours,
                    </span>
                    <span th:if="${differencesMap.get(post.idpost).get('mois') > 0}">
                        [[${differencesMap.get(post.idpost).get('mois')}]] mois,
                    </span>
                    <span th:if="${differencesMap.get(post.idpost).get('annee') > 0}">
                        [[${differencesMap.get(post.idpost).get('annee')}]] ans.
                    </span>
                </p>
            </div>
            <div class="content-card">
                <p th:text="${post.content}"></p>
            </div>
            <div class="bot-card">
                <div class="btn-interaction">
                    <div class="coin-like">
                        <p class="count-like" th:text="${@postService.getLikesCountForPost(post.idpost)}"></p>
                        <button class="btn-like" th:data-idpost='|${post.idpost}|'><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <span class="btn-commentaire fa-regular fa-comment"></span>
                </div>
                <div th:each="comment: ${post.comments}" th:attr="data-post-id=${post.idpost}"class="comment-users">
                    <p><i class="fa-solid fa-user"></i></p>
                    <div class="comment-user">
                        <p  th:if="${@usersService.getUser(comment.id_user).isPresent()}"
                            th:text="${@usersService.getUser(comment.id_user).get().getUsername()} + ' :'"> </p>
                        <p th:text="${comment.text}"></p>
                    </div>
                </div>
                <textarea name="commentaire" class="commentaire" cols="30" rows="5"></textarea>
                <button class="commenter" th:data-idcomment='|${post.idpost}|'>Commenter</button>
            </div>
        </div>
        
    </main>
</body>
<script th:src="@{/script/script.js}"></script>
</html>