<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="icon" href="/images/icone-twitter-rouge.png" type="image/png">
  <title>Twiplon</title>
</head>

<body>
  <header>
    <a th:href="@{/}">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <p class="titre-page">
      Profil
    </p>
    <a th:href="@{/}">
      <i class="fa-solid fa-gear"></i>   
    </a>
  </header>

  <main class="main-profil">
    <div class="card-profil">
      <img src="/images/photo-profil.jpeg" alt="photo-profil">
      <h3 th:text="${user.username}"></h3>
      <div class="identity-profil">
        <p th:text="${user.firstname}"></p>
        <p th:text="${user.lastname}"></p>
      </div>
    </div>
    <form action="/addPost" method="post">
      <input type="hidden" name="userId" value="19"> <!-- Remplacez 19 par l'ID de l'utilisateur actuel -->
      <textarea name="newPostContent" rows="1" cols="40" placeholder="Ecrivez votre post"></textarea>
      <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
    </form>
    <div class="post-profil" th:if="${userPosts}">
      <div class="card" th:each="post: ${userPosts}">
        <p class="post-date" th:text="${#dates.format(post.datecreation, 'dd/MM/yyyy')}"></p>
        <p class="post-content" th:text="${post.content}"></p>
        <div class="bot-card-post-profil">
          <p class="count-like" th:text="${@postService.getLikesCountForPost(post.idpost)} + ' Likes'"></p>
          <!-- <i class="fa-solid fa-trash" data-post-id="${post.idpost}" onclick="deletePost(this)"></i> -->
          <form th:action="@{/deletePost}" method="post">
            <input type="hidden" name="postId" th:value="${post.idpost}">
            <button type="submit" class="delete-button"><i class="fa-solid fa-trash"></i></button>
        </form>
        </div>
      </div>
    </div>
  </main>
</body>

<script th:src="@{/script/script.js}"></script>

</html>